// Цвет текста
$color-black: rgba(0, 0, 0, 1);
$color-white: rgba(255, 255, 255, 1);
$color-gradient: linear-gradient(135deg, #DCE3E9 0%, #C7C6C6 100%);
$color-gray: rgb(226, 226, 226, 1);

// Цвет линий 
$color-line-white: rgba(255, 255, 255, 1);
$color-line-black: rgba(0, 0, 0, 1);
// Основные цвета сайта

$color-fon-main: rgba(217, 217, 217, 1);

// Черный и белый цвет сайта
$color-black: rgba(0, 0, 0, 1);
$color-white: rgba(250, 250, 250, 1);

// Цвет кнопок
$background-button: rgba(197, 198, 199, 1);
$box-button-hover: linear-gradient(180deg, #66FCF1 0%, rgba(102, 108, 252, 0.56) 100%);

// Тень для кнопок
$box-shadow: 0px 0px 22px 3px rgba(102, 252, 241, 0.56);

// Тень для текста
$text-shadow: -1px -1px 2px rgba(111, 111, 111, 0.50), 1px 1px 2px rgba(255, 255, 255, 0.30);


// Отступы


// Типографика


$alumni-sans: 'Alumni Sans', sans-serif;
$bakbak-one: 'Bakbak One', sans-serif;
$bebas-neue: 'Bebas Neue', sans-serif;
$bowlby-one: 'Bowlby One', sans-serif;
$play: 'Play', sans-serif;
$poiret-one: 'Poiret One', sans-serif;
