.box-logotype {
    &__words {
        font-family: 'Alumni Sans', sans-serif;
        font-size: 9.6rem;
        color: $color-black;
    }
    &__first-word {
        margin-left: -.5rem;
        font-weight: 400;
    }
    &__secondary-word {
        margin-left: -2.6rem;
        padding: 0;
        font-weight: 100;
    }
    &__third-word {
        font-family: 'Bebas Neue', sans-serif;
        margin-top: -3rem;
        display: block;
        font-size: 2.4rem;
        font-weight: 400;
    }
}